.header-style{
    font-size: 40px;
}

.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
}

.contact-content-con .contact-form {
    flex: 3;
    margin-left: 3rem;
  }
  .contact-content-con .contact-form .input-control {
    margin: 1.5rem 0;
  }
  .contact-content-con .contact-form .input-control input, .contact-content-con .contact-form .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    width: 100%;
    color: var(--color-white);
    resize: none;
  }
  .contact-content-con .contact-form .i-c-2 {
    display: flex;
  }
  .contact-content-con .contact-form .i-c-2 :last-child {
    margin-left: 1.5rem;
  }
  .contact-content-con .contact-form .submit-btn {
    display: flex;
    justify-content: flex-start;
  }
  
  